<div class="details">
  <div class="details__card">
    <div class="details__top">
      <p class="details__date">Domingo</p>
    </div>
    <p class="details__weather">Tormenta electrica</p>
    <p class="details__grades">{{ currentTemp }}</p>
    <img src="../../../assets/icon/2xx.png" alt="" class="details__img" />
  </div>
  <ion-card [style]="{ 'margin-top': '125px' }">
    <ion-card-content>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4">s</ion-col>
          <ion-col size="4">ss</ion-col>
          <ion-col size="4">sss</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div>
